<%= form_for(work) do |f| %>
  <% if work.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(work.errors.count, "error") %> prohibited this work from being saved:</h2>

      <ul>
      <% work.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%#= f.hidden_field :id,:value => @work.id %>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :source %>
    <%= f.text_field :source %>
  </div>

    <div class="field">
      <%= f.fields_for :cuts do |df| %>
          <%= render partial: "cut_form", locals: {f: df } %>
      <% end %>
      <%= link_to_add_field("cut add", f, :cuts, {})%>
    </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>