<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @work.title %>
</p>

<p>
  <strong>Source:</strong>
  <%= @work.source %>
</p>

<% @work.cuts.each do |n| %>
    <p>
      <strong>Success:</strong>
      <%= n.success %>
    </p>


    <p>
      <strong>Output:</strong>
      <%= n.output %>
    </p>

    <p>
      <strong>Velocity:</strong>
      <%= n.velocity %>
    </p>

<%end%>


<%= link_to 'Edit', edit_work_path(@work) %> |
<%= link_to 'Back', works_path %>
